*{
    margin: 0;
}
.container{
    background: #ECF0F1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
.container2{
    background: #ECF0F1;
    display: flex;
    flex-direction: row;
    width: 100px;
    flex-wrap: wrap;
    padding: 60px 0;

}
.box{
    padding: 30px;
    color: white;
    font-family: Poppins, "Helvetica Neue", arial, sans-serif;
    font-size: 1.5em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 200px;
}
.box1{
    background-color: #1DD0AD;
}
.box2{
    background-color: #2FCC72;
}
.box3{
    background-color: #3498DB;
}

.box4{
    background-color: #9B59B6;
}
.box5{
    background-color: #34495E;
}
.box6{
    background-color: #F1C40F;
}
.box7{
    background-color: #E67E22;
}
.box8{
    background-color: #E74C3C;
}
.box9{
    background-color: #95A5A6;
}
.box10{
    background-color: #7F8C8D;
}